---
environments:
  - dev:
      ansible_ssh_host: packstack
      ssh_key: /root/.ssh/id_rsa.pub
      locale: en_US.utf8
      amqp_enable_auth: n
      amqp_enable_ssl: n
      aodh_install: n
      ceilometer_install: n
      debug_mode: n
      gnocchi_install: n
      heat_install: n
      horizon_install: y
      ironic_install: n
      lbaas_install: n
      manila_install: n
      nagios_install: n
      neutron_fwaas: n
      neutron_metering_agent_install: y
      neutron_vpnaas: n
      provision_demo: y
      run_tempest: n
      sahara_install: n
      swift_install: n
      trove_install: n
      amqp_auth_password: Password!
      ceilometer_ks_pw: Password!
      cinder_db_pw: Password!
      cinder_ks_pw: Password!
      default_password: Password!
      glance_db_pw: Password!
      glance_keystone_pw: Password!
      heat_db_pw: Password!
      heat_domain_password: Password!
      heat_ks_pw: Password!
      keystone_admin_pw: Password!
      keystone_db_pw: Password!
      keystone_demo_pw: Password!
      mariadb_pw: Password!
      nagios_pw: Password!
      neutron_db_pw: Password!
      neutron_ks_pw: Password!
      neutron_metadata_pw: Password!
      nova_db_pw: Password!
      nova_ks_pw: Password!
      swift_ks_pw: Password!
      ntp_servers: 0.us.pool.ntp.org, 1.us.pool.ntp.org, 2.us.pool.ntp.org, 3.us.pool.ntp.org
      amqp_host: 192.168.122.25
      compute_hosts: 192.168.122.25
      config_keystone_ldap_url: "ldap://192.168.122.25"
      controller_host: 192.168.122.25
      mariadb_host: 192.168.122.25
      mongodb_host: 192.168.122.25
      network_hosts: 192.168.122.25
      redis_host: 192.168.122.25
      sahara_host: 192.168.122.25
      storage_host: 192.168.122.25
      nova_network_fixedrange: 192.168.32.0/22
      nova_network_floatrange: 10.3.4.0/22
      provision_demo_floatrange: 172.24.4.224/28
      provision_tempest_floatrange: 172.24.4.224/28
      keystone_admin_email: postmaster@packstack.local
      ssl_cert_subject_mail: postmaster@packstack.local
      cinder_volumes_size: 20G
      keystone_api_version: v2.0
      keystone_token_format: UUID
      nova_network_pubif: eth0
      swift_storage_fstype: xfs
      swift_storage_size: 2G
      provision_image_url: "http://download.cirros-cloud.net/0.3.4/cirros-0.3.4-x86_64-disk.img"
      provision_uec_image_disk_url: "http://download.cirros-cloud.net/0.3.4/cirros-0.3.4-x86_64-disk.img"
      provision_uec_image_kernel_url: "http://download.cirros-cloud.net/0.3.4/cirros-0.3.4-x86_64-kernel"
      provision_uec_image_ramdisk_url: "http://download.cirros-cloud.net/0.3.4/cirros-0.3.4-x86_64-initramfs"
