# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

HISTCONTROL=erasedups
HISTSIZE=10000
export WWW_HOME=http://www.google.com
export EDITOR=vim
export VISUAL=vim
export VIEWER=less
export PS1="\u@\h:\w \\$ "
export BREAK_CHARS="\"#'(),;\`\\|!?[]{}"
export RUBYOPT=

shopt -s extglob

alias rm='rm -f'
alias cp='cp -f'
alias ll='ls -l'
alias la='ls -al'
alias less='less -MI --shift=1'
alias ssh='ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'
